@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&display=swap');

$bodyColor: #FBFBFB;
$yellowColor: #FFCC26;
$textColor: #414141;
$customBorderColor: 414141;

$headerHeight: 100px;

$cardWidth: 312px;
$cardMargin: 15px;


@mixin solidText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $textColor;
}
@mixin accentText {
    font-family: 'Anek Telugu';
    font-style: normal;
    font-weight: 600;

}


* {
    margin: 0;
    padding: 0;
    color: $textColor;
}
body {
    // position: relative;
    background-color: $bodyColor;
    width: 100%;
}


header {
    height: $headerHeight;
    background-color: $yellowColor;
    display: flex;
    align-items: center;
    justify-content: end;
    
    p {
        @include accentText();
        font-size: 32px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-right: 5%;
    }
}


.favorite-list-div {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23#{$customBorderColor}' stroke-width='2' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 307px;
    margin-top: 100px;
    position: absolute;
    height: 550px;
    padding: 45px 30px;

    >p {
        @include accentText();
        font-size: 24px;
        line-height: 36px;
        text-transform:uppercase;
    }
}


.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.list-div {
    position: absolute;
    right: 0;
    width: 70%;
    height: calc(100% - $headerHeight)
    // padding: 20px;
    
}

.list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23#{$customBorderColor}' stroke-width='1' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin: 5px 15px;
    width: $cardWidth;
    padding: 16px;
    height: 350px;
    position: relative;
}

.card-img {
    width: 232px;
    height: 232px;
    object-fit: contain;
}
.card-title {
    @include solidText;
    width: 100%;
}

.card-footer {
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    .card-price {
        @include solidText();
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    .card-like-btn {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background-color: $yellowColor;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: darken($yellowColor, 10);
        }
    }
    .card-like-btn:not(.selected) svg path {
        color: $bodyColor;
    }
}